# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main", "feature", "feature*" ]
  pull_request:
    branches: [ "main", "feature", "feature*" ]

env:
  WEBMEMBERSHIP: "1.0"
  PRODUCT: "webmembership"

jobs:
  build_jar:
    #runs-on: ubuntu-latest
    runs-on: Windows

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'microsoft'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml -DskipTests=true

    - name: List files in the Directory - target
      run: dir target

    - name: Copy JAR to the Staging Directory
      run: New-Item -type Directory -name staging; Copy-Item -Path "target\*.jar" -Destination "staging"

    - name: Upload JAR Artifacts 
      uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: staging
        retention-days: 1
        
    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6

  build_exe:
    needs: build_jar
    runs-on: Windows
    
    steps:
    - uses: actions/checkout@v4

    - name: Set ENV Variables
      #run: |
      #  echo "RELEASE=${WEBMEMBERSHIP}_RELEASE" >> $GITHUB_ENV
      #  echo "BUILD_DIR=/tmp/web_build/Java11Upgrade/${PRODUCT}" >> $GITHUB_ENV
      run: |
        echo "RELEASE=${env:WEBMEMBERSHIP}_RELEASE" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "BUILD_DIR=/tmp/web_build/Java11Upgrade/${env:PRODUCT}" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    
    #- name: Set ENV Variables
    #  run: |
    #    echo "BIN_FILE_TAR_ZIP=${PRODUCT}_v${RELEASE}.tar" >> $GITHUB_ENV
    #    echo "TARGET_DIR=${PRODUCT}_v${RELEASE}" >> $GITHUB_ENV
        
    - name: Print ENV Variables
      run: |
        echo "WEBMEMBERSHIP = $env:WEBMEMBERSHIP"
        echo "PRODUCT = $env:PRODUCT"
        echo "RELEASE = $env:RELEASE"
        echo "BUILD_DIR = $env:BUILD_DIR"
        echo "TARGET_DIR = $env:TARGET_DIR"
        echo "BIN_FILE_TAR_ZIP = $env:BIN_FILE_TAR_ZIP"
     
    - name: Download Artifacts 
      uses: actions/download-artifact@v4
      with:
        name: my-artifact
        path: staging

    - name: List Artifacts
      run: dir staging
